<div class="container-fluid vh-100 overflow-auto">
  <app-admin-header></app-admin-header>
  <div class="row admin-index-main">
    <div class="col-sm-12">
      <app-bar-chart-teachers-per-subject></app-bar-chart-teachers-per-subject>
    </div>
    <hr class="border border-5 border-dark mt-3 mb-3">
    <div class="col-sm-6">
      <app-pie-chart-students-gender></app-pie-chart-students-gender>
    </div>
    <div class="col-sm-6">
      <app-pie-chart-teachers-gender></app-pie-chart-teachers-gender>
    </div>
    <hr class="border border-5 border-dark mt-3 mb-3">
    <div class="col-sm-12">
      <app-histogram-chart-classes-per-day></app-histogram-chart-classes-per-day>
    </div>
    <hr class="border border-5 border-dark mt-3 mb-3">
    <div class="col-sm-12">
      <app-line-chart-classes-per-month></app-line-chart-classes-per-month>
    </div>
    <hr class="border border-5 border-dark mt-3 mb-3">
    <div class="col-sm-12">
      <app-doughnut-chart-classes-status-distribution></app-doughnut-chart-classes-status-distribution>
    </div>
    <hr class="border border-5 border-dark mt-3 mb-3">
    <div class="col-sm-6">
      <app-polar-area-chart-student-ratings></app-polar-area-chart-student-ratings>
    </div>
    <div class="col-sm-6">
      <app-polar-area-chart-teacher-ratings></app-polar-area-chart-teacher-ratings>
    </div>
    <hr class="border border-5 border-dark mt-3 mb-3">
  </div>
  <app-footer></app-footer>
</div>