/* Ljubica Majstorovic, Pavle Sarenac, Nikola Nikolic */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
}

.forma {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: black;
    color: yellow;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: darkslategray;
}

a:hover, a:active {
    color: forestgreen;
}

.greska {
    color : red;
}

#artikli {
    background-color: palegreen;
    text-align: center;
    padding: 5px;
}

img {
    width: 125px;
    height: 125px;
    border: 5px solid darkslategray;
    margin: 5px;
}

#filteri {
    text-align: center;
    margin-bottom: 20px;
}