<div class="row fixed-top">
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <h1>My dearest teacher</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/student-registration">Register As Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/teacher-registration">Register As Teacher</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/public-login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/change-password">Change password</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>