<div class="container-fluid vh-100 overflow-auto">
  <app-student-header></app-student-header>
  <div class="row my-profile" *ngIf="profilePictureUrl != null">
    <div class="col-sm-12 text-center">
      <div class="card mx-auto" style="width: 26rem;">
        <img [src]="profilePictureUrl" class="card-img-top img-fluid" alt="Profile Picture">
        <div class="card-body">
          <h5 class="card-title text-center"><b>{{user.name}} {{user.surname}}</b></h5>
        </div>
        <ul class="list-group list-group-flush text-start">
          <li class="list-group-item"><b>Address:</b> &nbsp;{{user.address}}</li>
          <li class="list-group-item"><b>Email:</b> &nbsp;{{user.email}}</li>
          <li class="list-group-item"><b>Phone:</b> &nbsp;{{user.phone}}</li>
          <li class="list-group-item"><b>School type:</b> &nbsp;{{user.schoolType}}</li>
          <li class="list-group-item"><b>Current grade:</b> &nbsp;{{user.currentGrade}}</li>
        </ul>
        <div class="card-footer text-start">
          <b>Update info:</b> &nbsp;
          <button class="btn btn-dark" routerLink="/update-student-info">Update info</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>