<div class="row bg-dark rounded main">
  <div class="col-sm-3 mt-3 mb-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-6 mt-3 mb-3" *ngIf="url.includes('registration')">
    <label for="input-username" class="form-label text-white">Username</label>
    <input type="text" class="form-control" [class.is-invalid]="newUser.username == ''"
      [class.is-valid]="newUser.username != ''" id="input-username" [(ngModel)]="newUser.username">
    <div class="invalid-feedback">
      {{usernameError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3 mt-3 mb-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-6 mb-3" *ngIf="url.includes('registration')">
    <label for="input-password" class="form-label text-white">Password</label>
    <input type="password" class="form-control" [class.is-invalid]="newUser.password == ''"
      [class.is-valid]="newUser.password != ''" id="input-password" [(ngModel)]="newUser.password">
    <div class="invalid-feedback">
      {{passwordError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-6 mb-3" *ngIf="url.includes('registration')">
    <label for="input-security-question" class="form-label text-white">Security question</label>
    <input type="text" class="form-control"
      [class.is-invalid]="newUser.securityQuestion == '' && url.includes('registration')"
      [class.is-valid]="newUser.securityQuestion != ''" id="input-security-question"
      [(ngModel)]="newUser.securityQuestion">
    <div class="invalid-feedback">
      {{securityQuestionError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-6 mb-3" *ngIf="url.includes('registration')">
    <label for="input-security-answer" class="form-label text-white">Security answer</label>
    <input type="text" class="form-control"
      [class.is-invalid]="newUser.securityAnswer == '' && url.includes('registration')"
      [class.is-valid]="newUser.securityAnswer != ''" id="input-security-answer" [(ngModel)]="newUser.securityAnswer">
    <div class="invalid-feedback">
      {{securityAnswerError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 mb-3" [class.mt-3]="!url.includes('registration')">
    <label for="input-name" class="form-label text-white">Name</label>
    <input type="text" class="form-control" [class.is-invalid]="newUser.name == '' && nameError !=''"
      [class.is-valid]="newUser.name != ''" id="input-name" [(ngModel)]="newUser.name">
    <div class="invalid-feedback">
      {{nameError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 mb-3">
    <label for="input-surname" class="form-label text-white">Surname</label>
    <input type="text" class="form-control" [class.is-invalid]="newUser.surname == '' && surnameError !=''"
      [class.is-valid]="newUser.surname != ''" id="input-surname" [(ngModel)]="newUser.surname">
    <div class="invalid-feedback">
      {{surnameError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-6 mb-3" *ngIf="url.includes('registration')">
    <label for="input-surname" class="form-label text-white">Gender:</label> &nbsp;
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="M"
        [(ngModel)]="newUser.gender">
      <label class="form-check-label text-white" for="inlineRadio1">M</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="F"
        [(ngModel)]="newUser.gender">
      <label class="form-check-label text-white" for="inlineRadio2">F</label>
    </div>
    <br>
    <span *ngIf="newUser.gender == ''" class="text-danger small">{{genderError}}</span>
    <span *ngIf="newUser.gender != ''" class="text-success small">{{successMessage}}</span>
  </div>
  <div class="col-sm-3" *ngIf="url.includes('registration')"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 mb-3">
    <label for="input-address" class="form-label text-white">Address</label>
    <input type="text" class="form-control" [class.is-invalid]="newUser.address == '' && addressError != ''"
      [class.is-valid]="newUser.address != ''" id="input-address" [(ngModel)]="newUser.address">
    <div class="invalid-feedback">
      {{addressError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 mb-3">
    <label for="input-phone" class="form-label text-white">Phone (format: 06[0-6]/xxx-xxx[x])</label>
    <input type="text" class="form-control" [class.is-invalid]="newUser.phone == '' && phoneError != ''"
      [class.is-valid]="newUser.phone != ''" id="input-phone" [(ngModel)]="newUser.phone">
    <div class="invalid-feedback">
      {{phoneError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 mb-3">
    <label for="input-email" class="form-label text-white">Email</label>
    <input type="text" class="form-control" [class.is-invalid]="newUser.email == '' && emailError != ''"
      [class.is-valid]="newUser.email != ''" id="input-email" [(ngModel)]="newUser.email">
    <div class="invalid-feedback">
      {{emailError}}
    </div>
    <div class="valid-feedback">
      {{successMessage}}
    </div>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 mb-3">
    <label for="input-photo" class="form-label text-white" *ngIf="url.includes('registration')">Profile picture
      (optional)</label>
    <label for="input-photo" class="form-label text-white" *ngIf="!url.includes('registration')">Profile picture</label>
    <input type="file" class="form-control" accept=".jpg, .png" (change)="onImageSelected($event)" id="input-photo">
    <span *ngIf="isInvalidImage" class="text-danger small">{{profilePictureError}}</span>
    <span *ngIf="!isInvalidImage && ((!url.includes('registration')) ? profilePictureFormData != null : true)"
      class="text-success small">{{successMessage}}</span>
  </div>
  <div class="col-sm-3"></div>
  <ng-container *ngIf="newUser.userType == 'student'">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mb-3">
      <div class="dropup">
        <span class="text-white">School type:</span>&nbsp;
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span *ngIf="newUser.schoolType == ''">Pick one</span>
          <span *ngIf="newUser.schoolType != ''">{{newUser.schoolType}}</span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let schoolType of data.schoolTypes">
            <button class="btn dropdown-item" (click)="updateSchoolType(schoolType)">{{schoolType}}</button>
            <hr *ngIf="schoolType != 'Art school'" class="dropdown-divider">
          </li>
        </ul>
      </div>
      <span *ngIf="newUser.schoolType == ''" class="text-danger small">{{schoolTypeError}}</span>
      <span *ngIf="newUser.schoolType != ''" class="text-success small">{{successMessage}}</span>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mb-3">
      <div class="dropup">
        <span class="text-white">Current grade:</span>&nbsp;
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span *ngIf="newUser.currentGrade == ''">Pick one</span>
          <span *ngIf="newUser.currentGrade != ''">{{newUser.currentGrade}}</span>
        </button>
        <ul class="dropdown-menu">
          <ng-container *ngIf="newUser.schoolType == data.schoolTypes[0] || newUser.schoolType == ''">
            <li *ngFor="let primarySchoolGrade of data.primarySchoolGrades">
              <button class="dropdown-item" (click)="updateCurrentGrade(primarySchoolGrade)">
                {{primarySchoolGrade}}
              </button>
              <hr *ngIf="primarySchoolGrade !== '8'" class="dropdown-divider">
            </li>
          </ng-container>

          <ng-container *ngIf="newUser.schoolType !== data.schoolTypes[0] && newUser.schoolType !== ''">
            <li *ngFor="let secondarySchoolGrade of data.secondarySchoolGrades">
              <button class="dropdown-item" (click)="updateCurrentGrade(secondarySchoolGrade)">
                {{secondarySchoolGrade}}
              </button>
              <hr *ngIf="secondarySchoolGrade !== '4'" class="dropdown-divider">
            </li>
          </ng-container>
        </ul>

      </div>
      <span *ngIf="newUser.currentGrade == ''" class="text-danger small">{{currentGradeError}}</span>
      <span *ngIf="newUser.currentGrade != ''" class="text-success small">{{successMessage}}</span>
    </div>
    <div class="col-sm-3"></div>
  </ng-container>
  <ng-container *ngIf="newUser.userType == 'teacher'">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mb-3">
      <label for="input-subjects" class="form-label text-white" *ngIf="url.includes('registration')">Choose subjects
        that you want to teach</label>
      <label for="input-subjects" class="form-label text-white" *ngIf="!url.includes('registration')">Choose
        subjects</label>
      <select class="form-control choices-multiple" multiple id="input-subjects" [(ngModel)]="newUser.teacherSubjects">
        <option *ngFor="let subject of data.subjects">{{subject}}</option>
      </select>
      <button class="btn btn-light mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Click to add a custom subject
      </button>
      <br>
      <span *ngIf="newUser.teacherSubjects.length == 0 && teacherCustomSubjects.length == 0"
        class="text-danger small">{{teacherSubjectsError}}</span>
      <span *ngIf="newUser.teacherSubjects.length != 0 || teacherCustomSubjects.length != 0"
        class="text-success small">{{successMessage}}</span>
    </div>
    <div class="col-sm-3"></div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Custom subject</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" [(ngModel)]="teacherCustomSubject">
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-dark" (click)="addCustomSubject()">Add subject</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3"></div>
    <div class="col-sm-6 mb-3">
      <label for="input-age" class="form-label text-white" *ngIf="url.includes('registration')">Choose your preferred
        student age</label>
      <label for="input-age" class="form-label text-white" *ngIf="!url.includes('registration')">Choose student
        age</label>
      <select class="form-control choices-multiple" multiple id="input-age"
        [(ngModel)]="newUser.teacherPreferredStudentsAge">
        <option *ngFor="let studentAge of data.studentAges">{{studentAge}}</option>
      </select>
      <span *ngIf="newUser.teacherPreferredStudentsAge.length == 0"
        class="text-danger small">{{teacherPreferredStudentsAgeError}}</span>
      <span *ngIf="newUser.teacherPreferredStudentsAge.length" class="text-success small">{{successMessage}}</span>
    </div>
    <div class="col-sm-3"></div>

    <div class="col-sm-3"></div>
    <div class="col-sm-6 mb-3" *ngIf="url.includes('registration')">
      <label for="input-wdyhay" class="form-label text-white">Where did you hear about us?</label>
      <input type="text" class="form-control" [class.is-invalid]="newUser.teacherWhereDidYouHearAboutUs == ''"
        [class.is-valid]="newUser.teacherWhereDidYouHearAboutUs != ''" id="input-wdyhay"
        [(ngModel)]="newUser.teacherWhereDidYouHearAboutUs">
      <div class="invalid-feedback">
        {{teacherWhereDidYouHearAboutUsError}}
      </div>
      <div class="valid-feedback">
        {{successMessage}}
      </div>
    </div>
    <div class="col-sm-3"></div>

    <div class="col-sm-3"></div>
    <div class="col-sm-6 mb-3" *ngIf="url.includes('registration')">
      <label for="input-cv" class="form-label text-white">CV</label>
      <input type="file" class="form-control" accept=".pdf" (change)="onCvSelected($event)" id="input-cv">
      <span *ngIf="isInvalidCv" class="text-danger small">{{cvError}}</span>
      <span *ngIf="!isInvalidCv" class="text-success small">{{successMessage}}</span>
    </div>
    <div class="col-sm-3"></div>
  </ng-container>
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-center mb-3">
    <button class="btn btn-md btn-light" type="submit" (click)="register()"
      *ngIf="url.includes('registration')">Register</button>
    <button class="btn btn-md btn-light" type="submit" (click)="updateTeacherInfo()"
      *ngIf="!url.includes('registration')">Update info</button>
  </div>
  <div class="col-sm-3"></div>
</div>